torch>=1.11
torchvision>=0.12
tensorflow==2.11.0 # pip install tensorflow
functorch>=0.1
omegaconf~=2.1.2
hydra-core==1.1.2 # pip install hydra-core

# For CUDA 11.7 I used 
# 'conda install pytorch torchvision torchaudio pytorch-cuda=11.7 -c pytorch -c nvidia'